html , body{
	padding:0;
	margin:0;
}
body {
	color: #06536f;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}
h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 3.1em;
	color: #fff;
	text-transform: uppercase;
	font-weight:lighter;
	margin-bottom: 0.3em;
}
h2{
	color:#cfeffb;
	font-style: italic;
	font-size: 1.8em;
	margin-top: 0;
	font-family: "times new roman", serif;
}
h3{
	font-size: 1.4em;
	font-family: 'Julius Sans One', sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
}
p{
	font-size: 1.1em;
	line-height: 200%;
}
a:link{
	color:#74c9e8;
	text-decoration:none;
}
a:visited{
	color: #5b808e;
}
a:hover{       /*aqui a ordem das regras altera o resultado*/
	color:#0eb9f8;
	text-decoration: underline;
}
acronym{
	border: none;
}
.icone{
	display: inline-block;
	text-transform: uppercase;
	font-weight:lighter;
	padding: 0.18em 0.4em 0.1em 1.4em;
	background: url(imagens/seta2.png) no-repeat left;
}
.icone:hover{
	color:#fff;
	text-decoration: none;
	padding: 0.18em 0.4em 0.1em 1.4em;
	background: #0b7aa2 url(imagens/seta1.png) no-repeat left;
}

#corpo{
	margin-top: 21.5em;
	position: relative;
}
#corpo div{
	padding-top: 2.0em;
	padding-bottom: 2.0em; 
}
#corpo p{
	margin-right: 7em;
	margin-left: 7em;
}
#corpo h3{
	margin-right: 5.4em;
	margin-left: 5.4em;
}
#banner{
	position: absolute;
	top: 0;
	background-image: url(imagens/agua.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	width: 100%;
	height: 19.3em;
	background-color: #06536f;
	text-align: center;
}
#meio{
	background-color: rgba(39,91,185,0.4); 
	background-image: url(imagens/arvore2.png);/*imagem melhor*/
	background-size: cover;
	background-attachment: fixed;
}
#meio p{
font-weight:500; /* Para que o texto não fique muito apagado*/
}
#meio a:visited{
	color: #224855;
}
#meio a:hover{
	color:#0eb9f8;
	text-decoration: underline;
}

          /*Trabalhando com o menu*/

#menu{
	clear: both;
	width:100%;
	
}
#menu h3{        /*tirando os titulos dos menus*/
	display: none;
}
#menu ul{
	list-style-type:none;
	margin-left:0;
	padding-left: 2px;
}
#menu li{
	float:left;
	width:50%;   /*permitindo que eles sempre fique um do lado do outro*/
	padding-top:1.9em;     
	padding-bottom:1.9em;
	border-top: solid 1px #C7DBE2;
}
#design li span, #resources li span{
	display:inline-block;
	padding-left: 20%; /*Método para manter os conteudo afastado da borda*/
}
#design li{
	background-color: #cfeffb;
}
#design li:hover{
	background-color: #E8F9FF;
}

#resources li{
	background-color: rgba(39,91,185,0.4); 
	background-image: url(imagens/planta.png);
	background-attachment: fixed;
	
	font-family: 'Julius Sans One', sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 1.0em;
}
#resources li:hover{
	background-color: rgba(39,91,185,0.2);
}
#resources a{
	color:#4C646D;
}
#resources a:hover{
	color:#0eb9f8;
}
#resources #ultimo{
	width:100%;
}
#resources #ultimo span{
	padding-left: 10%;
}
#menu li a:hover{
	text-decoration: none;
}

.obra{
	font-family: 'Julius Sans One', sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	display: block;
	font-size: 1.2em;
}
#design .autor{
	color: #4C646D;
	font-family: "times new roman", serif;
}
#design .autor:hover{
	color:#0eb9f8;
}


       /*Trabalhando o menu do cabeçalho*/

#archives{       /*Levando o div para o cabeçalho*/
	width:100%;
	position:absolute;
	top: 13.4em;
	z-index: 90;
	/*background-color: rgba(39,91,185,0.2);*/
}

#archives li{
	padding:0;
	height:5.02em;
	border-top: none;
	text-align: center;
	background-color: rgba(39,91,185,0.2);
}
#archives ul li:first-child{
	display: inline-block;
	width: 10%;
	float: right;
}
#archives ul li span a{
	text-indent: -666em;
	background-image: url(imagens/next1.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: 2.0em;
}
#archives ul li:last-child{
	display: inline-block;
	width: 89.9%;
	float:left;
}
#archives ul li a{         /*expandindo o link*/
	display: block;
	width: 100%;
	height: 2.6em;
	padding-top: 1.3em;
	
	font-weight: lighter; /*alteraçoes na fonte do link*/
	font-size: 1.3em;
	text-decoration: none;
	text-transform: uppercase;
	color: #cfeffb;
}	
#archives ul li a:hover{
	color:#fff;
	background-color: rgba(39,91,185,0.8);
}
#archives ul li span a:hover{
	background-image: url(imagens/next2.png);
	background-position:center;
	background-repeat: no-repeat;
	background-size: 2.0em;
}

         /*Trabalhando com os dois rodapés*/

#rodape, #rodape2{
	float:left;
	width: 100%;
}
#rodape{
	height:14.0em;
	background-color: rgba(39,91,185,0.4);
	background-image: url(imagens/planta.png);
	background-attachment: fixed;
}
#rodape p{
	font-family: "Times New Roman", Georgia, Serif;
	font-size:1.9em;
	font-style: italic;
	text-align: center;
	padding-top: 0.5em;
	padding-left: 2.0em;
	padding-right: 2.0em;
	padding-bottom:0.5em;
	color: #cfeffb;
}
#rodape a{
	color:#fff;
	font-style:normal;
}
#rodape2{
	background-color: rgb(39,91,185);
}
#rodape2 p{
	text-align: center;
}
#rodape2 a{
	margin-left:5%;
	margin-top:2.2em;
	margin-bottom: 2.2em;
	text-indent: -666em;
	display: inline-block;
}
#rodape2 a:last-child{
	margin-right: 10%;
}

/*Trabalhando com os ícones*/

/*Os icones poderiam ter sido melhor trabalhados, mas estão funcianando assim, 
 futuramante vejo uma alternativa melhor*/

#ico{
	background-image: url(imagens/html2.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	height: 3.0em;
	width: 3.0em;
}
#ico:hover{
	background-image: url(imagens/html1.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	height: 3.0em;
	width: 3.0em;
}
#ico2{
	background-image: url(imagens/css1.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	height: 3.0em;
	width: 3.0em;
}
#ico2:hover{
	background-image: url(imagens/css2.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	height: 3.0em;
	width: 3.0em;
}
#ico3{
	background-image: url(imagens/cc.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	height: 3.0em;
	width: 3.0em;
}
#ico3:hover{
	background-image: url(imagens/cc2.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	background-color:#cfeffb;
	height: 3.0em;
	width: 3.0em;
}
#ico4{
	background-image: url(imagens/ally1.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	height: 3.0em;
	width: 3.0em;
}
#ico4:hover{
	background-image: url(imagens/ally2.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	background-color:#cfeffb;
	height: 3.0em;
	width: 3.0em;
}
#ico5{
	background-image: url(imagens/github1.png);
	background-size:3.0em;
	background-repeat: no-repeat;
	height: 3.0em;
	width: 3.0em;
}
#ico5:hover{
	background-image: url(imagens/github2.png);
	background-size:3.1em;
	background-repeat: no-repeat;
	background-color:#cfeffb;
	height: 3.0em;
	width: 3.0em;
}
#icones{
	padding-left: 10px;
}
#xv{ float: left }
